In [3]:
# This is a sample code to read csv created by smartcab script

from itertools import groupby,islice
import pandas as pd

In [2]:
with open("file2.txt") as f:
    for k, v in groupby(islice(f, 3, None),key=lambda x:  x.strip()[0:1].isdigit()):
        val = list(v)
        if k:
            df = pd.DataFrame(map(str.split,val))
            print(df)
            print(""))
        elif val[-1] == 'Top Total\n':
            break

SyntaxError: invalid syntax (<ipython-input-2-13e746ece386>, line 12)

In [4]:
with open("SimulationResults_BasicQ.csv") as Basic:
    df = pd.DataFrame(Basic)

TypeError: data argument can't be an iterator

In [7]:
input_file = "SimulationResults_BasicQ.csv"
df = pd.read_csv(input_file)

In [8]:
df

     Gamma\t0.0\tAlpha\t0.8
0                         0
1                         0
2                         0
3                         0
4                         0
5                         0
6                         0
7                         0
8                         0
9                         0
10                        0
11                        0
12                        0
13                        0
14                        0
15                        0
16                        0
17                        0
18                        0
19                        0
20                        0
21                        0
22                        0
23                        0
24                        0
25                        0
26                        0
27                        0
28                        0
29                        0
...                     ...
983                       0
984                       0
985                       0
986                       0
987                       0
988                       0
989                       0
990                       0
991                       0
992                       0
993                       0
994                       0
995                       0
996                       0
997                       0
998                       0
999                       0
1000                      0
1001                      0
1002                      0
1003                      0
1004                      0
1005                      0
1006                      1
1007                      0
1008                      0
1009                      0
1010                      0
1011                      0
1012                      0

[1013 rows x 1 columns]